@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

 
.first-color { 
	background: #feffdf; 
}
	
.second-color { 
	background: #dde0ab; 
}

.third-color { 
	background: #97cba9; 
}

.fourth-color { 
	background: #668ba4; 
}

body {
    color: #feffdf;
    background-color: #668ba4;
}

h1 {
    font-family: Lora, serif;
    color:#feffdf;
}