@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

 
.first-color { 
	background: #feffdf; 
}
	
.second-color { 
	background: #dde0ab; 
}

.third-color { 
	background: #97cba9; 
}

.fourth-color { 
	background: #668ba4; 
}

body {
    color: #feffdf;
    background-color: #668ba4;
}

h1 {
    font-family: Lora, serif;
    color:#feffdf;
    
}

header a {
    text-decoration: none;
}

#logo{
    font-family: Lora, serif;
    text-align: center;
    font-size: 300%;
    color:#feffdf;
    
    
}

#logo a {
    text-decoration: none;
}


#menu {
    font-size: 200%;
    letter-spacing: 5px;
}

#menu a {
    text-decoration: none;
    color: #feffdf;
}


#menu li {
    display: inline;
    font-family: Dancing Script, cursive;
    text-align: center;
    float: right;
}