@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

 
.first-color { 
	background: #feffdf; 
}
	
.second-color { 
	background: #dde0ab; 
}

.third-color { 
	background: #97cba9; 
}

.fourth-color { 
	background: #668ba4; 
}

body {
    color: #feffdf;
    background-color: #668ba4;
}

h1 {
    font-family: Lora, serif;
    color:#feffdf;
    
}

header a {
    text-decoration: none;
}

#logo{
    font-family: Lora, serif;
    text-align: center;
    font-size: 300%;
    color:#feffdf;   
    border-bottom: 3px solid #dde0ab;
}


#menu {
    
    font-size: 120%;
    letter-spacing: 1px;
    padding: 20px 10px 20px 10px;
    display: inline;
    margin-right: 30%;
    
}

#menu a {
    text-decoration: none;
    color: #feffdf;
    
}


#menu li {
    display: inline;
    font-family: Montserrat, sans-serif;
    text-align: center;
    border: 2px solid #feffdf;
    
}

#quote {
    font-family: Dancing Script, cursive;
    font-size: 180%;
    text-align: center;
}

/* Hero image*/
#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    
}